<div class="container">
    <div class="row">
        <div class="table">
            <table class="table asset">
                    <caption>資産</caption>
                    <thead>
                        <tr>
                            <th></th><th>cocincheck</th><th>zaif</th><th>合計</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th>JPY</th><td class="coincheck_jpy"></td><td class="zaif_jpy"></td><td class="sum_jpy"></td>
                            </tr>
                            <tr>
                                <th>BTC</th><td class="coincheck_btc"></td><td class="zaif_btc"></td><td class="sum_btc"></td>
                            </tr>
                            <tr>
                                <th>総資産</th><td class="coincheck_asset"></td><td class="zaif_asset"></td><td class="total_asset"></td>
                            </tr>
                    </tbody>
            </table>
        </div>
        
        <div class="table">
            <table class="table value">
                    <caption>現在価格</caption>
                    <thead>
                        <tr>
                            <th></th><th>cocincheck</th><th>zaif</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th>BID</th><td class="coincheck_bid"></td><td class="zaif_bid"></td>
                            </tr>
                            <tr>
                                <th>ASK</th><td class="coincheck_ask"></td><td class="zaif_ask"></td>
                            </tr>
                    </tbody>
            </table>
        </div>
        
          <div class="table">
            <table class="table profit">
                    <caption>取引利益</caption>
                    <thead>
                        <tr>
                            <th></th><th>買:coincheck 売:zaif</th><th>買:zaif 売:coincheck</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr class="real">
                                <th><span class="amount"></span>BTCあたりの利益</th><td class="buy_coincheck"></td><td class="buy_zaif"></td>
                            </tr>
                            <tr class="ideal">
                                <th>1ビットコインあたりの利益</th><td class="buy_coincheck"></td><td class="buy_zaif"></td>
                            </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // 価格情報、資産情報、利益情報計算結果を取得
    
    $(function() {
       setInterval(dataGet, 1000);
    });
    
    var dataGet = function(){
         $.ajax('/ajax',
          {
            type: 'get',
            data: { },
            dataType: 'json'
          }
        )
        // 検索成功時にはページに結果を反映
        .done(function(data) {
            // 取得したデータをセット
            var data = data[0];
            var asset = data.asset
            var profit = data.profit
            var value = data.value
            var coincheck_asset = data.coincheck_asset
            var zaif_asset = data.zaif_asset
            var total_asset = data.total_asset
            
            // 資産
            $(".asset .coincheck_jpy").text(Math.round(asset.coincheck_jpy));
            $(".asset .coincheck_btc").text(asset.coincheck_btc);
            $(".asset .coincheck_asset").text(coincheck_asset);
            
            $(".asset .zaif_jpy").text(Math.round(asset.zaif_jpy));
            $(".asset .zaif_btc").text(asset.zaif_btc);
            $(".asset .zaif_asset").text(zaif_asset);
            // 総資産
            $(".asset .total_asset").text(total_asset);
            
            // 合計値
            $(".asset .sum_jpy").text(parseFloat(asset.coincheck_jpy) + parseFloat(asset.zaif_jpy));
            $(".asset .sum_btc").text(parseFloat(asset.coincheck_btc) + parseFloat(asset.zaif_btc));
            
            // 価格
            $(".value .coincheck_bid").text(value.coincheck_bid);
            $(".value .coincheck_ask").text(value.coincheck_ask);
            $(".value .zaif_bid").text(value.zaif_bid);
            $(".value .zaif_ask").text(value.zaif_ask);
            
            // 利益
            $(".profit .real .buy_coincheck").text("")
            $(".profit .ideal .buy_coincheck").text("")
            $(".profit .real .buy_zaif").text("")
            $(".profit .ideal .buy_zaif").text("")
            if(profit.order === "buy_coincheck") {
                $(".profit .real .buy_coincheck").text(profit.profit)
                $(".profit .ideal .buy_coincheck").text(profit.per1BtcProfit)
            } else if(profit.order === "buy_zaif") {
                $(".profit .real .buy_zaif").text(profit.profit)
                $(".profit .ideal .buy_zaif").text(profit.per1BtcProfit)
            }
            $(".profit .real .amount").text(profit.amount)
            
        })
        // 検索失敗時には、その旨をダイアログ表示
        .fail(function() {
            console.log("データ取得に失敗");
        });
    };
</script>